<!doctype html>
<html>
<head>
<title>Homepage</title>

<style type="text/css">
	* {
	background-color:#FFFFDC;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 14px;
}
	
	td {
	padding-left: 5px;
	padding-right: 5px;	
}
	
	td.slogan {
	text-align: center;
        border-right: thin solid;
    }
	.center_text {
	 margin-left: auto;
    margin-right: auto;
    width: 50em
  
}
	.mission_statement {
		font-size:18px;
	}
	
	a {
		font-size:22px;
	}

	.info_email {
		float:right;
		font-size:12px;
	}

</style>
</head>
<body>

<table style="float:left; width:35%; border-collapse:separate;">
   <tbody>
        <tr>
            <td class="slogan" style="width:4%;" >
            	<span style="color: #7F509F">Create</span><br>
 				<span style="color: #F16222">Enjoy</span><br>
  				<span style="color: #ED3036">Share</span>
            </td>
            <td style="width:31%;">
            	<span style="font-size:36px; font-weight: bold;">JoinOurStory.com</span><br>
				<span>Participatory Entertainment for Healthier Minds</span>
            </td>
        </tr>
   </tbody>
</table>
<div class="center_text">
  <p class="mission_statement"><br/><br/><a href="http://joinourstory.com">JoinOurStory.com</a>
      is a
      <span style="font-size:18px; font-style: italic;">
          California benefit corporation
      </span>
      that offers subscribers, especially seniors, an enriching recreational activity: playing a role in an ongoing collaborative drama.
  </p>
  <p class="mission_statement">
      <span style="font-size:18px; font-weight: bold;">
          Everyone in the community will have the chance to create their own character and influence the action - with personal coaching available.
      </span>
  </p>
  <p class="mission_statement">
      The plot regularly advances through professional videos and related media, starring employee-owners and select subscribers. Through this adventure,
        <a href="http://joinourstory.com">JoinOurStory.com</a>
      rewards performers for sharing their talent and gives seniors, their friends and their families a taste of show business magic in order to promote happy souls and healthy minds.
      <br/><br/>
  </p>
</div>
<p class="info_email">
    Email <a href="mailto:info@joinourstory.com">info@joinourstory.com</a> for more information.
</p>
</body>
</html>
