<!doctype html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <title>JoinOurStory.com / Home</title>
    <style type="text/css">
        * {
            background-color: #FFFFDC;
            font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
        }

        .mission_statement {
            margin-left: auto;
            margin-right: auto;
            width: 40em;
            font-size: 22px;
        }

    </style>
</head>
<body>
<table style="float:left; width:35%; border-collapse:separate;">
    <tbody>
    <tr>
        <td style="width:4%; text-align:center; border-right:thin solid; font-size:14px; padding-top: 3px;">
            <span style="color: #7F509F">Create</span><br>
            <span style="color: #F16222">Enjoy</span><br>
            <span style="color: #ED3036">Share</span>
        </td>
        <td style="width:31%;  padding-left: 10px;">
            <span style="font-size:36px; font-weight: bold;">JoinOurStory.com</span><br>
            <span style="font-size:14px; padding-left: 1px;">Participatory Entertainment for Healthier Minds</span>
        </td>
    </tr>
    </tbody>
</table>

<div class="mission_statement">
    <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </p>

    <p>
        <a href="http://joinourstory.com">JoinOurStory.com</a>
        is a
      <span style="font-style: italic;">
          California benefit corporation
      </span>
        that offers subscribers, especially seniors, an irresistibly fun activity &#8212 taking part in an ongoing
        drama!
    </p>

    <p>
      <span style="font-weight: bold;">
          Every member has the opportunity to create a charter and influence the action,
          with patient coaching available.
      </span>
    </p>

    <p>
        High quality videos, starring professional actors and select subscribers regularly transform the contributions
        into a powerfully engaging soap opera. Together with an immersive 24/7 online world and exhilarating live
        performances,
        <a href="http://joinourstory.com">JoinOurStory.com</a>
        draws subscribers into a thriving, creative community, rewarding performers for sharing their talent and giving
        subscribers a taste of show business magic in order to foster happy souls and healthy minds.
        <br/>
        <br/>
        <br/>
        <br/>
    </p>
</div>

<div style="text-align: center; font-size: 18px;">
    <p>
        Email <a href="mailto:info@joinourstory.com">info@joinourstory.com</a> for more information.

    </p>

    <p>
        <br/>
        &copy 2014
    </p>

</div>
</body>
</html>
